doctype
html
    head
        title= "Real time web chat"
        script(src='socket.io/socket.io.js')
        script(src='scrabble.js')
    body
        h1 Scrabble en ligne
        button#button Envoyer

