body {
    text-align: center;
    user-select: none;
}

#letters {
    display: flex;
    flex-direction: row;
    justify-content: center;


}
#endturn {
    margin: 1em;
}
.carte {
    margin: 0 1em;
    display: flex;
    flex-direction: column;

    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;

    animation: appear 1s ease-out;

}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
    }
}

.carte img {
    width: 60px;
    height: 60px;
    border-radius: 5px;

}
.carte:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 8px 6px rgba(0,0,0,0.16), 0 8px 6px rgba(0,0,0,0.23);
}

.carte.selected {
    box-shadow: 0 3px 6px rgba(81, 203, 238, 1), 0 3px 6px rgba(81, 203, 238, 1);
}
.carte.selected:hover {
    box-shadow: 0 8px 6px rgba(81, 203, 238, 1), 0 8px 6px rgba(81, 203, 238, 1);
}

.carte.used {
    filter: grayscale(100%);
    transition: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.carte.used:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: none;
}


input [type="radio"] {
    width: 50px;
    height: 50px;
    background-color: silver;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.5s ease;
    outline:none;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: red;
}

input[type="radio"] ~ label {
    text-transform: uppercase;
}